.house__tabs {
  background-color: #1c2026;
  padding-top: 5em;

  aside {
    background-color: #262b33;
    width: 25%;
    height: 700px;
    border-radius: 10px;
  }

  li {
    color: #fff;
    list-style: none;
    padding: 1.2em 1em;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      background-color: #1c2026;
      cursor: pointer;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  p {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    padding-left: 1.5em;
  }
}
